@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700')
@import url('https://fonts.googleapis.com/css?family=Junge')
@import url('https://fonts.googleapis.com/icon?family=Material+Icons')

*
    margin 0
    padding 0
    border 0
    outline none
    position relative

html, body
    position relative
    width 100%
    height 100%
    min-width @width
    min-height @height
    font-family 'Open Sans', sans-serif
    font-weight 200
